@inject UserState UserState
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorTasks</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PopUp">PopUp Example</NavLink>
        </div>
        @if (UserState.IsLoggedIn)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="higherlower" Match="NavLinkMatch.All">Higher or Lower</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="stats">Stats</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profile">Logged in as: @UserState.Username</NavLink>
            </div>
        }
    </nav>
</div>


@code {
    protected override void OnInitialized()
    {
        UserState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserState.OnChange -= StateHasChanged;
    }
}
