@page "/"

<PageTitle>Home</PageTitle>

<h2>Welcome to BlazorTasks</h2>
<p>Please log in or create an account to access all features.</p>

<div class="d-flex gap-3 mt-3">
    <button class="btn btn-primary">Login</button>
    <button class="btn btn-outline-primary">Sign Up</button>
</div>

@code {

}
